/* Write your CSS here */
.history-list-items {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  align-items: center;
  padding-left: 10px;
  width: 106%;
  padding-right: 10px;
}
@media (min-width: 588px) {
  .history-list-items {
    width: 90%;
  }
}
.del-btn {
  background-color: transparent;
  border: none;
  padding-top: 5px;
}
.delete-logo {
  height: 25px;
}
